<html>
  <head>
  	<style type="text/css">
  		table {
  			min-width: 500px;
  			border-collapse: collapse;
  			margin: 0px auto;
  		}
  		th, td {
  			border: 1px solid black;
  			text-align: center;
  		}
  	</style>
  </head>
  <body>
	<table class="striped">
		<tr>
			<th> Chromosome </th>
			<th> Variants </th>
		</tr>
		<% for(var i=0; i < items.length; i++) { %>
		<tr>
			<td>
			<%= items[i].chromosome %>
			</td>
			<td>
			<%= items[i].variants %>
				
			</td>
		</tr>
		<% } %>
	</table>
  </body>
</html>